
.game {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.box {
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

#box1 {
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: fantasy;
    background-color: rgb(177, 175, 175);
    color: white;
}

#box2 {
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: fantasy;
    background-color:rgb(29, 201, 37);
    color: white;
}

#box3 {
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: fantasy;
    background-color: #fad503;
    color: white;
}

.keyboard {
    width: 800px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 29%;
    margin-top: 50px;
}

#row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.row1 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.letter {
    display: flex;
    flex: 1;
    border: 2px solid black;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    background-color: rgb(236, 232, 232);
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

#special {
    flex: 1.5;
}

img {
    height: 100%;
}

#test1 {
    background-color: rgb(29, 201, 37);
    color: white;
}

#test2 {
    background-color: #fad503;
    color: white;
}

#test3 {
    background-color: rgb(177, 175, 175);
    color: white;
}

@media screen and (max-width: 600px) {
    .box {
        width: 100%;
    }

    .letter {
        flex: 0 0 20%;
    }
}