
.game {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.box {
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

#box1 {
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: fantasy;
    background-color: rgb(177, 175, 175);
    color: white;
}

#box2 {
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: fantasy;
    background-color:rgb(29, 201, 37);
    color: white;
}

#box3 {
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: fantasy;
    background-color: #fad503;
    color: white;
}

.keyboard {
    width: 800px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 29%;
    margin-top: 50px;
}

#row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.row1 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.letter {
    display: flex;
    flex: 1;
    border: 2px solid black;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    background-color: rgb(236, 232, 232);
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.special {
    flex: 1.5;
}

img {
    height: 100%;
}

.default-box {
    color:rgb(0, 0, 0);
    background-color: white;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: fantasy;
}

.green-box {
    background-color: rgb(29, 201, 37);
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: fantasy;
}

.yellow-box {
    background-color: #fad503;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: fantasy;
}

.gray-box {
    background-color: rgb(177, 175, 175);
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: fantasy;
}

.green-letter {
    background-color: rgb(29, 201, 37);
    color:white;
}

.yellow-letter {
    background-color: #fad503;
    color: white;
}

.dark-letter {
    background-color: rgb(177, 175, 175);
    color: white;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.box-pop {
    animation: pop 0.3s ease;
}